sudo: false
language: python

python:
  - "3.5"

before_install:
  # We only run the test suite when building the repository under Othoz/gcsfs because only here we have access too the environment variables to decrypt the GCS service account key
  - 'if [ "$TRAVIS_REPO_SLUG" = "Othoz/gcsfs" ]; then openssl aes-256-cbc -K $encrypted_b8e3bf9ce0e9_key -iv $encrypted_b8e3bf9ce0e9_iv -in .travis/service-account-key.json.enc -out $HOME/service-account-key.json -d; fi'
  - export GOOGLE_APPLICATION_CREDENTIALS=$HOME/service-account-key.json
  - export TEST_BUCKET=othoz-gcsfs-tests

install:
  - pip install pipenv
  - pipenv install --dev --three

script:
  - flake8
  - 'if [ "$TRAVIS_REPO_SLUG" = "Othoz/gcsfs" ]; then pytest --cov=fs_gcsfs --cov-branch --cov-report=xml --numprocesses=16; fi'

deploy:
  provider: pypi
  user: "@token"
  password:
    secure: "Td/L9h5/atxclvZvcQqkCjZirJCX2EugBHtD4eeDqf/yRT9CFomCUaQ1042fx8PI3WSkslguTJZeVgsmNor20w0GOMH+Q67/W740VDsxnoynELBRkndcOLsBhTr+y5TaeqjqWSA3gn1b1ZliXieWBiRntHww5mF7IlqyVghiTJuluuIR1kU07kpKe9dTclBqPRLBdyQRw8J0trjozZwkpdyJwKN4P3ezRkQ81soipDAwfZd99MAkLQ8HIkC0rqdru4u/sZ3vatO+dzM6lWTUrFX3tJdvYuKMI2WZZmHMEb52FA8eSuL+yrlyAbpZQV1ULuO3xsmw3c9rWD9xhg7FxbkeODFzKoZs0rmjlmwY9YpEJZbFSpu80ksih0nM5DwYqGXxtyt/DXttdwJ+LWa5Se2hRyogkLhYW8cyb+2fU5IuxAgMKfGc7V2ry1IT/AH2WTiudW5GR2eOpRLAXF0A9N1Jv0brPB2qHb4TMTWcJgEmsHCfrYHg76uehH2SgOWAOyTPOP+RgsrG1pzuh629GtJbT1fVR0ycn30bB/Kx7D8+6ZjCVY0z1PKSSGAA0kSXqdAPaUtWpHU5xDT2EIJhCcM4A/vl5Bt1PeM1bYcBTLNgxD2BLGLy5nRwAklAEZpyq6oxMW4n8mW0f1/tALqY8Z9aMyuIFHMAxMI4EFomGP4="
  on:
    tags: true

after_success:
  - python-codacy-coverage -r coverage.xml
