[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
numpy = "*"  # one test verifies that GCSFS is compatible with numpy.load()/save() and thus requires numpy as a dep
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"

[packages]
"e1839a8" = {editable = true, path = "."}