[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-xdist = "*"
codacy-coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"

[packages]
"e1839a8" = {editable = true, path = "."}